[Unit] 
Description=Says when to refresh betterlockscreen backgrounds

[Timer] 
OnCalendar=hourly
Unit=locker_config.service
Persistent=true

[Install] 
WantedBy=basic.target